# ignore
.idea
__pycache__
**/.DS_Store

# plots within plot folder
plots/*

# data folders
moonlander pilot data
experimental_data/*
input_data/*
eye_data/*
soc_data
crash_runs
videos/*

# R history and data files
.Rhistory
.RData

# ipython stuff
.ipynb_checkpoints
data_analysis.ipynb
situational_analysis.ipynb
