# ignore
.idea
__pycache__
**/.DS_Store
plots/*
moonlander pilot data
experimental_data/*
input_data/*
eye_data/*
eye_data_pre_processed/*
soc_data/*
crash_runs/*
videos/*
.Rhistory
.RData
.ipynb_checkpoints
data_analysis.ipynb
situational_analysis.ipynb
crash_success_runs.csv
crash_success_runs_annotated.csv
